<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Delivery Partner List" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
      <div class="card"  id="tasksList">
          <div class="card-header border-0">
              <div class="d-flex align-items-center">
                  <h5 class="card-title mb-0 flex-grow-1">All Delivery Partner</h5>
                  <div class="flex-shrink-0">
                      
                  </div>
              </div>
          </div>
          <div class="card-body bg-soft-light border border-dashed border-start-0 border-end-0">
            <form>
                <div class="row g-3">
                    <div class="col-xxl-5 col-sm-12">
                        <div class="search-box">
                            <input type="text"  name="searchTerm" class="form-control search bg-light border-light" placeholder="Search..." [(ngModel)]="searchTerm">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-2 col-sm-6">
                        <div class="input-light">
                            <select class="form-control bg-light border-light" data-choices data-choices-search-false name="choices-single-default"  id="idStatus" [(ngModel)]="statusTerm">
                                <option value="" selected>All</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-sm-6 text-end">
                        <button class="btn btn-danger add-btn" [routerLink]="['/admin/delivery/create']"><i class="ri-add-line align-bottom me-1"></i> Create Delivery Partner</button>
                    </div>
                </div>
                <!--end row-->
            </form>
        </div>
        <div class="card-body"  style="padding-top: 0.6rem;">
              <div class="table-responsive table-card mb-2">
                <table class="table" #table>
                  <thead>
                  <tr class="bg-light text-muted">
                    <th scope="col" style="width: 10px;">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                      </div>
                  </th>
                  <th class="sort" sortable="taskId">Sr. No.</th>
                  <th class="sort" sortable="project">Name</th>
                  <th class="sort" sortable="task">Email</th>
                  <th class="sort" sortable="creater">Mobile</th>
                  <th class="sort" sortable="subItem">Region</th>
                  <th class="sort" sortable="subItem">Address</th>
                  <th class="sort" sortable="subItem">Status</th>
                  <th class="sort" sortable="subItem">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of data |filter:searchTerm | filter:statusTerm;let i =index">
                        <th scope="row" style="width: 10px;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkAll" value="option1"
                                    [(ngModel)]="data.isSelected">
                            </div>
                        </th>
                        <td><a style="cursor: pointer;" class="fw-medium">#{{i+1}}</a></td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.mobile}}</td>
                        <td class="assignedto">{{data.region}}</td>
                        <td class="status">
                            {{data.address}}
                        </td>
                        <td class="status">
                            <div class="badge badge-soft-danger " *ngIf="data.status == 'Inactive'">Inactive</div>
                            <div class="badge badge-soft-success " *ngIf="data.status == 'Active'">Active</div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-dang" (click)="delete(i)"><i class="ri-delete-bin-line"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div><!--end card-body-->
      </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->
