<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Support List" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
      <div class="card"  id="tasksList">
          <div class="card-header border-0">
              <div class="d-flex align-items-center">
                  <h5 class="card-title mb-0 flex-grow-1">All Support</h5>
                  <div class="flex-shrink-0">
                      
                  </div>
              </div>
          </div>
          <div class="card-body bg-soft-light border border-dashed border-start-0 border-end-0">
            <form>
                <div class="row g-3">
                    <div class="col-xxl-5 col-sm-12">
                        <div class="search-box">
                            <input type="text"  name="searchTerm" class="form-control search bg-light border-light" placeholder="Search..." [(ngModel)]="searchTerm">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-2 col-sm-6">
                        <div class="input-light">
                            <select class="form-control bg-light border-light" data-choices data-choices-search-false name="choices-single-default"  id="idStatus" [(ngModel)]="statusTerm">
                                <option value="" selected>All</option>
                                <option value="pending">Pending</option>
                                <option value="success">Resolved</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </form>
        </div>
        <div class="card-body"  style="padding-top: 0.6rem;">
              <div class="table-responsive table-card mb-2">
                <table class="table" #table>
                  <thead>
                  <tr class="bg-light text-muted">
                    <th scope="col" style="width: 10px;">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                      </div>
                  </th>
                  <th class="sort" sortable="taskId">Sr. No.</th>
                  <th class="sort" sortable="project">Name</th>
                  <th class="sort" sortable="creater">Mobile</th>
                  <th class="sort" sortable="task">Subject</th>
                  <th class="sort" sortable="subItem">Message</th>
                  <th class="sort" sortable="subItem">Status</th>
                  <th class="sort" sortable="subItem">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of data |filter:searchTerm | filter:statusTerm;let i =index">
                        <th scope="row" style="width: 10px;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkAll" value="option1"
                                    [(ngModel)]="data.isSelected">
                            </div>
                        </th>
                        <td><a  class="fw-medium">#{{i+1}}</a></td>
                        <td>{{data.name}}</td>
                        <td>{{data.mobile}}</td>
                        <td>{{data.subject}}</td>
                        <td>{{data.message}}</td>
                        <td class="status">
                            <div class="badge badge-soft-warning " *ngIf="data.status == 'pending'">Pending</div>
                            <div class="badge badge-soft-success " *ngIf="data.status == 'success'">Resolved</div>
                        </td>
                        <td>
                            <button (click)="openModal(content,data)" class="btn btn-success btn-sm" *ngIf="data.status == 'pending'"><i class="ri-check-line"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div><!--end card-body-->
      </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->
<ng-template #content role="document" let-modal>
    <div class="modal-content border-0">
        <div class="modal-header p-3 ps-4 bg-soft-warning">
            <h5 class="modal-title" id="inviteMembersModalLabel">Resolve Support</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click');clear()"></button>
        </div>
        <div class="modal-body p-4">
            <div class="mb-3">
                <label class="form-label">Remark</label>
                <input type="text" class="form-control" placeholder="Enter Remark"
                    [(ngModel)]="remark" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light w-xs" data-bs-dismiss="modal" (click)="modal.close('Close click');clear()">Cancel</button>
            <button type="button" class="btn btn-primary w-xs" (click)="markResolve()">Submit</button>
        </div>
    </div>
    <!-- end modal-content -->
  </ng-template>